{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codex</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header class="main-header">
        <div class="header-content">
            <h1>Codex - Dashboard</h1>
        </div>
    </header>

    <main class="container">
        <section class="site-admin">

            <div class="stats-grid">
                <div class="stat-card">
                    <span class="stat-label">QUANTIDADE DE LIVROS: {{ total_livros }} </span>
                    <span class="stat-value"></span>
                </div>
                <div class="stat-card">
                    <span class="stat-label">QUANTIDADE DE CÓPIAS: {{ total_copias }} </span>
                    <span class="stat-value"></span>
                </div>
                <div class="stat-card">
                    <span class="stat-label">EMPRÉSTIMOS ATIVOS: {{ emprestimos_ativos }} </span>
                    <span class="stat-value"></span>
                </div>
            </div>

            <div class="tab-buttons">
                <button class="tab-btn active" id="btn-books">ACERVO</button>
                <button class="tab-btn" id="btn-lendings">EMPRÉSTIMOS</button>
            </div>

            <div id="section-books">
                <div class="collection-header">
                    <div class="search-bar">
                        <input type="text" id="searchInput" placeholder="Digite o título, código ou ano: ">
                    </div>
                    <button class="btn-add" onclick="window.location.href='{% url 'controle' %}'">Controle</button>
                </div>



                <div class="table-wrapper">
                    <table id="booksTable">
                        <thead>
                            <tr>
                                <th class="campos">Título</th>
                                <th class="campos">Autor</th>
                                <th class="campos">Código</th>
                                <th class="campos">Categoria</th>
                                <th class="campos">Publicação</th>
                                <th class="campos">Quantidade</th>
                                <th class="campos">Sinopse</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for livro in livros %}
                            <tr>
                                <td>{{ livro.titulo }}</td>
                                <td>{{ livro.autor }}</td>
                                <td>{{ livro.id }}</td>
                                <td>{{ livro.categoria }}</td>
                                <td>{{ livro.ano_lancamento }}</td>
                                <td>{{ livro.quantidade_total }}</td>
                                <td>{{ livro.sinopse }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="section-lendings" style="display: none;">
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th class="campos">Cliente</th>
                                <th class="campos">Livro</th>
                                <th class="campos">Data de empréstimo</th>
                                <th class="campos">Data de devolução</th>
                                <th class="campos">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for emprestimo in emprestimos %}
                            <tr>

                                <td>{{ emprestimo.cliente }}</td>
                                <td>{{ emprestimo.livro }}</td>
                                <td>{{ emprestimo.data_emprestimo }}</td>
                                <td>{{ emprestimo.data_devolucao }}</td>
                                <td>{{ emprestimo.status }}</td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>


    
    <!--<script src="{% static 'js/main.js' %}"></script>-->
</body>

</html>